<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ subject }}</title>
</head>
<body>
    <div style="background: url('https://s18.postimg.org/g6j3apvih/ignasi_pattern_s.png'); padding:
     20px; text-align: center;">
        <img src="https://s17.postimg.org/tu0rr7te7/logo_3x.png" alt="bakpak logo" width="100">
        <h3 style="margin-bottom: 0;">BakPak - Registration</h3>
    </div>

    <div style="padding: 20px;">
        <p>Hi,</p>

        <p>
            Welcome to BakPak! Thanks for signing up. Your account is created and must be activated in order for you to buy and sell your textbooks. Please follow this link to activate your account:
        </p>

        <p style="text-align: center">
            <a href="{{ confirm_link }}" style="color: #fff;
                                                background-color: #e31d2a;
                                                text-decoration: none;
                                                padding: 10px 20px;
                                                text-transform: uppercase;
                                                display: inline-block;
                                                margin: 7px 0;">activate link</a>
        </p>

        <p>
            With love<br />
            Team BakPak
        </p>
    </div>
</body>
</html>