<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Confirm link</title>
    <link rel="stylesheet" href="/css/web.css">
</head>
<body>

<img src="/images/{{ status }}.png" alt="" class="center-image">
<section class="container">
    <span class="title">{{ title }}</span>

    <p>{{ message }}</p>
</section>

</body>
</html>