@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

html, body {
    padding: 0;
    margin: 0;
}

body {
    background: url('../images/school.png');
    padding-top: 60px;
    font-family: 'Lato', sans-serif;
}

span.title {
    display: block;
    font-weight: 300;
    font-size: 40px;
}

.container {
    width: 650px;
    margin: 30px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    text-align: center;
}

.center-image {
    display: block;
    margin: 0 auto;
}